<div class="d-flex justify-content-between p-3">
  <div class="">Icon</div>
  <div class="d-flex">
    <p class="px-2"><%= link_to "My lists", lists_path%></p>
    <p class="px-2"><%= link_to "New list", new_list_path%></p>
  </div>
</div>
<hr>
<div class="container w-100 text-center">
  <h1> <%= @list.name %> </h1>
  <p>classic</p>
  </div>
    <hr>
<div class="container d-flex justify-content-between p-3">
  <div>
    <h3>My Lists</h3>
      <div class="d-flex text-center">
          <ul>
            <% @list.movies.each do |item| %>
              <div class="w-25">
              <img src="<%= item.poster_url %>" alt="movie-image" class="w-75">
              <li style="list-style-type: none;"><%= item.title %></li>
              <p> <%= item.overview %> </p>
              </div>
            <% end %>
          </ul>
      </div>
  </div>
    <%= link_to "Add a movie", new_list_bookmark_path(@list, @bookmark)%>
</div>
